
.width-1120{
	width: 1200px;
	margin: 0 auto;
}


.col1 {
	width: 8.33%;
}
.col2 {
	width: 16.66%;
}
.col3 {
	width: 25%;
}
.col4 {
	width: 33.33%;
}
.col5 {
	width: 41.66%;
}
.col6 {
	width: 50%;
}
.col7 {
	width: 58.33%;
}
.col8 {
	width: 66.66%;
}
.col9 {
	width: 75%;
}
.col10 {
	width: 83.33%;
}
.col11 {
	width: 91.66%;
}
.col12 {
	width: 100%;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear:both;
}
#header{
/*border: 1px solid gray;
*//*height: 50px;*/
margin-bottom: 50px;
}
.ull ul li {
	/*display: inline-block;*/
	/*display: flex;
	justify-content: flex-end;*/
	float:left;
}
.ull ul li  {
	/*display: inline-block;*/
	/*display: flex;
	justify-content: flex-end;*/
	float:right;
	margin-left: 10px;
	    /*border: 2px solid #a1a1a1;*/
    padding: 10px 10px; 
    background: #dddddd;
   
    border-radius: 100%;
}

.nav{
	float:right; 

}
.nav ul li{
	float:left;
	margin-left: 10px;
	font-weight: bold; 
}

.qiz{
	height: 600px;
	background-size: cover;
	background-image: url("../images/2.jpg") ;
   

}
.text{
	text-align: center;
}
.egestas>div{
	width: 23%;

}
.egestas>div h3{
	font-weight: bold; 
	margin:10px 0px;
}

.cras h1{
	font-weight: bold; 
	text-align: center;
	font-size: 35px;
	margin-top: 30px;
}
.cras h3{
	font-weight: bold; 
	margin-top: 5%;
	text-align: center;
	/*font-size: 35px;*/
}
.egestas>div{
	 
	margin:70px 0px;
}
.cras{
height: 200px;
border-top:  solid gray;
border-bottom:  solid gray;
/*border: 1px solid gray; */
}
[class*="col"]{
	padding:10px;
}
/*.row{
	width: 100%;
	height: auto;
	display: block;
}*/
.featured{
	margin-top: 7%;
}
.featured img{
	width: 100%;
	height: 100%;
}
.featured div:nth-child(1){
	font-weight: bold;
	font-size: 25px;
}
.featured>div{
box-sizing: border-box;
margin-left: calc(100% - 10px)/4;
}
.featured1 img{
	width: 100%;
	height: 100%;
}
/*.featured1 div:nth-child(1){
	font-weight: bold;
	font-size: 30px;
}*/
/*.egestasD div:nth-child(2) h1{
	font-weight: bold;
	font-size: 30px;
}*/
.featured1>div{
box-sizing: border-box;
margin-left: calc(100% - 10px)/4;
}
.egestas{
	margin-top:30px;
}
.egestas .col4{
	width: 90px;
	height: 90px;
	border-radius: 100%;
	background: #D1D1D1;
	color:white;
	float: left;
	/*display: flex;*/
	/*position: relative;*/
}
.egestas  .col4 h1{
/*	display: block;
*/	margin-top: 20px;
	margin-left: 20px;
}
 .egestas .col4 h2{
	margin-left: 20px;
}
.egestas .col6 i{
	display: block;
	margin-top: 5px;
	color:grey;
	margin-bottom: 5px;
}
 .egestas .col6>h1{
	font-weight: bold;
	margin-bottom: 5px;
}
.egestas a{
	color:red;
	text-decoration:none;
}
 .egestasa:hover{
	color:black;
}
.egestas .col3>.col8 p{
	margin-top: 10px;
}
.egestas .col3>h1{
	margin-bottom: 5px;
	font-weight: bold;
}
.egestas .col3>.col12:nth-child(1) text-align: right {
	margin-top: 0px;
}

.egestas .col3 .col8>p {
	color:gray;
}
.egestas .col3 .col8>p a{
	color:gray;
}
.featured1{
	/*height: 150px;*/
/*border: 1px solid gray;
box-sizing: border-box;*/
}
.featured1 h1{
	/*height: 150px;*/
/*	box-sizing: border-box;
border: 1px solid gray;*/
font-weight: bold;
	font-size: 20px;
	margin-bottom:3px;

}
.lastest{
margin-top: 50px;

/*width: 100%/4;*/

}
/*.lastest>div{
	width: (100%-20px)/4;
}*/
/*.lastest>div{
width: 100%;
}*/
.lastest h3{
margin-bottom: 30px;
font-weight: bold;
	font-size: 20px;
	width: 100%;

}
.lastest div:nth-child(2) input{
	margin-bottom: 6px;
	width: 76%;

}
.footer{
	height: 300px;
	background: black;
}
.nav1 ul li{
	float:right;
	margin-left: 10px;
	color: white;
}
.button {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.yuxari{
	margin-bottom: 9px;
}
.lastest div:last-child{
/*	width: 24%;*/
}